  services:
    mosquitto:
       image: eclipse-mosquitto:2.0.22
       container_name: mosquitto
       restart: always
       volumes:
          - ./.mosquitto/config:/mosquitto/config  # :ro is not necessary
          - ./.mosquitto/log:/mosquitto/log
          - ./.mosquitto/data:/mosquitto/data
          - ./.mosquitto/certs/generate_self_signed_certificates.sh:/mosquitto/certs/generate_self_signed_certificates.sh
          - ./.mosquitto/certs:/mosquitto/certs

       ports:
         # ports are needed if traefik is not enabled as reverse proxy
         # Attention: 1883 and 8083 are unsecure - use it carefully or bind it to localhost only !
          - "127.0.0.1:${PORT_MQTT_UNSECURE}:1883"
          - "${PORT_MQTT_SECURE}:8883"
          - "${PORT_MQTT_WS_SECURE}:8091"
          - "127.0.0.1:${PORT_MQTT_WS_UNSECURE}:8083"
       expose:
         - 1883

       healthcheck:
       #   test: ["CMD", "curl", "-X", "Upgrade", "-f", "http://localhost:1880" ]
          test: ["CMD", "mosquitto_sub", "-t", "$$SYS/#", "-C", "1", "-i", "healthcheck", "-W", "3"]
          interval: 10s
          timeout: 10s
          retries: 6
          start_period: 60s
          start_interval: 10s
       command:
           - /bin/sh
           - -c
           - |
             apk add --no-cache openssl mc sed
             # chmod 0600 /mosquitto/config/passwd
             # chown root:root /mosquitto/config/passwd
             chmod 0777 /mosquitto/config/*.sh
             chmod +x /mosquitto/certs/generate_self_signed_certificates.sh /mosquitto/config/*.sh
             sh /mosquitto/certs/./generate_self_signed_certificates.sh
             mosquitto -c /mosquitto/config/mosquitto.conf | pidof mosquitto > /mosquitto/config/pid
       networks:
           - backnet

    restarter:
      image: docker:cli
      container_name: mosquitto-restarter
      volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
      command:
          - /bin/sh
          - -c
          - |
            while true; do
              if [ "$$(date +'%H:%M')" = '${MOSQUITTO_RESTART_HOUR}' ]; then
                docker restart mosquitto
              fi
              sleep 60
            done
      # alternative possible command  - restart every 86400 seconds
      # command: [ "/bin/sh", "-c", "while true; do sleep 86400; docker restart mosquitto; done" ]
      # killall -HUP mosquitto as command alternative
      restart: unless-stopped

    # /mosquitto/config/./set_permissions.sh  # ??