  services:
    mosquitto:
       image: eclipse-mosquitto:2.0.22
       container_name: mosquitto
       restart: always
       volumes:
          # :ro is not necessary
          - ./.mosquitto/config:/mosquitto/config
          - ./.mosquitto/log:/mosquitto/log
          - ./.mosquitto/data:/mosquitto/data
          # self-signed certs are generated on every start of service - comment it, if providing other signed certs
          # or using traefik as reverse proxy
          # - ./.mosquitto/certs/generate_self_signed_certificates.sh:/mosquitto/certs/generate_self_signed_certificates.sh
          - ./.mosquitto/certs:/mosquitto/certs
       # ports:
         # ports are needed if traefik is not enabled as reverse proxy
         # Attention: 1883 and 8083 are unsecure - use it carefully or bind it to localhost only !
         # - "127.0.0.1:${PORT_MQTT_UNSECURE}:1883"
         # - "${PORT_MQTT_SECURE}:8883"
         # - "${PORT_MQTT_WS_SECURE}:8091"
         # - "127.0.0.1:${PORT_MQTT_WS_UNSECURE}:8083"
       expose:
         - 1883

       labels:
         - "traefik.enable=true"
         - "traefik.tcp.routers.mqtt.rule=HostSNI(`${SUBDOMAIN_MQTT}${DOMAIN}`)"
         - "traefik.tcp.routers.mqtt.entrypoints=mqtt"
         - "traefik.tcp.routers.mqtt.service=mqttservice"
         - "traefik.tcp.routers.mqtt.tls=true"
         - "traefik.tcp.routers.mqtt.tls.certresolver=letsencrypt"
         - "traefik.tcp.services.mqttservice.loadbalancer.server.port=1883"
         - "traefik.http.routers.websock.rule=Host(`${SUBDOMAIN_MQTT}${DOMAIN}`)"
         - "traefik.http.routers.websock.entrypoints=websock"
         - "traefik.http.routers.websock.service=websockservice"
         - "traefik.http.routers.websock.tls=true"
         - "traefik.http.routers.websock.tls.certresolver=letsencrypt"
         - "traefik.http.services.websockservice.loadbalancer.server.port=8083"
       #healthcheck:
       #  test: ["CMD", "mosquitto_sub", "-t", "$$SYS/#", "-C", "1", "-i", "healthcheck", "-W", "3"]
       #  interval: 10s
       #  timeout: 10s
       #  retries: 6
       #  start_period: 60s
       #  start_interval: 10s
       # apk add htop
       # apk add mc
       command:
         # insert following commands before mosquitto -c if using self signed certification process
         # chmod +x /mosquitto/certs/generate_self_signed_certificates.sh /mosquitto/config/*.sh
         # sh /mosquitto/certs/./generate_self_signed_certificates.sh
         - /bin/sh
         - -c
         - |
           apk add --no-cache openssl mc 
           chmod 0600 /mosquitto/config/passwd
           # chown root:root /mosquitto/config/passwd  # should run, but ssl do not work with it
           chmod 0777 /mosquitto/config/*.sh
           mosquitto -c /mosquitto/config/mosquitto.conf | pidof mosquitto > /mosquitto/config/pid
       networks:
         - backnet
    # chmod 0600 /mosquitto/config/passwd
    # chown root:root /mosquitto/config/passwd
    # docker restart mosquitto
    # systemctl reload mosquitto
    restarter:
      image: docker:cli
      container_name: mosquitto-restarter
      volumes: [ "/var/run/docker.sock:/var/run/docker.sock" ]
      command:
          - |
            while true; do
              if [ "$$(date +'%H:%M')" = '01:00' ]; then
                killall -HUP mosquitto
              fi
              sleep 60
            done
      # command: [ "/bin/sh", "-c", "while true; do sleep 86400; docker restart mosquitto; done" ]
      restart: unless-stopped

    # /mosquitto/config/./set_permissions.sh  # ??