
services:
  openssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: openssh-server
    hostname: openssh-server #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      #- PUBLIC_KEY=yourpublickey #optional
      #- PUBLIC_KEY_FILE=/path/to/file #optional
      #- PUBLIC_KEY_DIR=/path/to/directory/containing/_only_/pubkeys #optional
      #- PUBLIC_KEY_URL=https://github.com/username.keys #optional
      - SUDO_ACCESS=false #optional
      - PASSWORD_ACCESS=true #optional set to false when authentication with keys works correctly
      - USER_NAME=sshtunnel #optional
      - USER_PASSWORD=sshTunnelPasswd #optional
      # - USER_PASSWORD_FILE= #optional
      - LOG_STDOUT= #optional
    volumes:
      - ./.openssh-server/config:/config
    ports:
      - "${PORT_SSH_SERVER}:2222"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ssh_tunnel1.entrypoints=websecure"
      - "traefik.http.routers.ssh_tunnel1.rule=Host(`${SUBDOMAIN_1_TUNNEL}${DOMAIN}`)"
      - "traefik.http.routers.ssh_tunnel1.tls.certresolver=letsencrypt"
      - "traefik.http.routers.ssh_tunnel1.service=ssh1"
      - "traefik.http.services.ssh1.loadbalancer.server.port=${PORT_1_TUNNEL}"

      - "traefik.http.routers.ssh_tunnel2.entrypoints=websecure"
      - "traefik.http.routers.ssh_tunnel2.rule=Host(`${SUBDOMAIN_2_TUNNEL}${DOMAIN}`)"
      - "traefik.http.routers.ssh_tunnel2.tls.certresolver=letsencrypt"
      - "traefik.http.routers.ssh_tunnel2.service=ssh2"
      - "traefik.http.services.ssh2.loadbalancer.server.port=${PORT_2_TUNNEL}"
    networks:
      - backnet
