[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.web.http]
    [entryPoints.web.http.redirections]
      [entryPoints.web.http.redirections.entryPoint]
        to = "websecure"
        scheme = "https"

  [entryPoints.websecure]
    address = ":443"

  [entryPoints.mqtt]
    address = ":8883"

  [entryPoints.websock]
    address = ":8083"

[accessLog]

[api]
dashboard = true
insecure = false

[providers]
  [providers.docker]
    exposedByDefault = false
  [providers.file]
    directory = "/configs/"


[certificatesResolvers.letsencrypt.acme]
  storage = "/certificates/acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web"
