[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.web.http]
    [entryPoints.web.http.redirections]
      [entryPoints.web.http.redirections.entryPoint]
        to = "websecure"
        scheme = "https"

  [entryPoints.websecure]
    address = ":443"

  [entryPoints.mqtt]
    address = ":8883"

  [entryPoints.websock]
    address = ":8083"

  [entryPoints.smtp]
    address = ":25"

    [entryPoints.smtp.proxyProtocol]
    trustedIPs = ["172.21.0.200", "172.21.0.201"]

  [entryPoints.smtps]
    address = ":465"

    [entryPoints.smtps.proxyProtocol]
    trustedIPs = ["172.21.0.200", "172.21.0.201"]

  [entryPoints.imaps]
    address = ":993"

    [entryPoints.imaps.proxyProtocol]
    trustedIPs = ["172.21.0.200", "172.21.0.201"]

[accessLog]

[api]
dashboard = true
insecure = false

[providers]
  [providers.docker]
    exposedByDefault = false
  [providers.file]
    directory = "/configs/"


[certificatesResolvers.letsencrypt.acme]
  storage = "/certificates/acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web"
